flows.json
[{"id":"8dd5ebbc.faef78","type":"tab","label":"Final","disabled":false,"info":""},{"id":"cb35d04d.8f5b3","type":"ui_form","z":"8dd5ebbc.faef78","name":"","label":"","group":"df4f7da9.6e09a","order":0,"width":0,"height":0,"options":[{"label":"First Name","value":"fname","type":"text","required":true,"rows":null},{"label":"Last Name","value":"lname","type":"text","required":true,"rows":null},{"label":"Phone Number","value":"phno","type":"number","required":true,"rows":null},{"label":"E-mail","value":"email","type":"email","required":true,"rows":null},{"label":"Confirm E-Mail","value":"cemail","type":"email","required":true,"rows":null},{"label":"Choose Password","value":"pwd","type":"password","required":true,"rows":null},{"label":"Confirm Password","value":"cpwd","type":"password","required":true,"rows":null}],"formValue":{"fname":"","lname":"","phno":"","email":"","cemail":"","pwd":"","cpwd":""},"payload":"","submit":"Submit Registration","cancel":"Cancel","topic":"","x":130,"y":160,"wires":[["16d1992.6657d67","74afbc02.f7e814"]]},{"id":"16d1992.6657d67","type":"function","z":"8dd5ebbc.faef78","name":"","func":"if(msg.payload.email!=msg.payload.cemail){\n    msg.payload=\"Email not matching\"\n    return msg;\n}\nelse if(msg.payload.pwd!=msg.payload.cpwd){\n    msg.payload=\"Password not matching\"\n    return msg;\n}\nelse{\n    msg.payload=\"Hey!\" + msg.payload.fname +\" you have successfully registered\"\n    global.set('flag',\"True\")\n    return msg;\n}","outputs":1,"noerr":0,"x":280,"y":240,"wires":[["1a4b9c31.77afb4","74afbc02.f7e814"]]},{"id":"a67cd53d.5b8cc8","type":"debug","z":"8dd5ebbc.faef78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":610,"y":320,"wires":[]},{"id":"1a4b9c31.77afb4","type":"ui_text","z":"8dd5ebbc.faef78","group":"1e52de89.de71d1","order":0,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":450,"y":240,"wires":[]},{"id":"74afbc02.f7e814","type":"function","z":"8dd5ebbc.faef78","name":"","func":"var flag=global.get('flag')\nif(flag==\"True\"){\nmsg.payload = {\n    _id:msg.payload.email,\n    FirstName:msg.payload.fname,\n    LastName:msg.payload.lname,\n    Password:msg.payload.pwd,\n    Email:msg.payload.email,\n    PhoneNumber:msg.payload.phno\n}\nreturn msg;\n}","outputs":1,"noerr":0,"x":370,"y":360,"wires":[["3fd08c7.b4f9674","a67cd53d.5b8cc8"]]},{"id":"3fd08c7.b4f9674","type":"cloudant out","z":"8dd5ebbc.faef78","name":"","cloudant":"","database":"interviewer_details","service":"node-red-qfgfg-cloudant-1591679944518-78089","payonly":true,"operation":"insert","x":610,"y":400,"wires":[]},{"id":"5e1a3522.1b0dcc","type":"ui_form","z":"8dd5ebbc.faef78","name":"","label":"","group":"f002b395.88a2a","order":2,"width":0,"height":0,"options":[{"label":"Enter your Email Id","value":"email","type":"text","required":true,"rows":null},{"label":"Enter your Password","value":"pwd","type":"password","required":true,"rows":null}],"formValue":{"email":"","pwd":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":130,"y":500,"wires":[["29caa7ce.9e1ef8"]]},{"id":"29caa7ce.9e1ef8","type":"function","z":"8dd5ebbc.faef78","name":"","func":"global.set(\"email\",msg.payload.email);\nglobal.set(\"pwd\",msg.payload.pwd);\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":500,"wires":[["2a758269.f7732e"]]},{"id":"372fde82.c7bf32","type":"cloudant in","z":"8dd5ebbc.faef78","name":"","cloudant":"","database":"interviewer_details","service":"node-red-qfgfg-cloudant-1591679944518-78089","search":"_id_","design":"","index":"","x":610,"y":480,"wires":[["698cc6b1.6dcf78"]]},{"id":"2a758269.f7732e","type":"function","z":"8dd5ebbc.faef78","name":"","func":"var email = global.get(\"email\")\nmsg.payload = {\n    \"_id\":email\n}\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":500,"wires":[["372fde82.c7bf32"]]},{"id":"698cc6b1.6dcf78","type":"function","z":"8dd5ebbc.faef78","name":"Validation","func":"var pwd = global.get(\"pwd\")\nif(msg.payload.Password==pwd){\n    msg.payload = \"Login Successful, redirecting to your dashboard\"\n}\nelse{\n    msg.payload = \"Invalid Password\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":580,"wires":[["a0f0220a.9ef9e"]]},{"id":"847bc752.e07fb8","type":"ui_form","z":"8dd5ebbc.faef78","name":"","label":"","group":"b3d600c3.249e","order":0,"width":"6","height":"5","options":[{"label":"Enter your input","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":150,"y":680,"wires":[["c22b74f3.4baa08"]],"icon":"node-red-node-watson/conversation-v1-25x25.png"},{"id":"c22b74f3.4baa08","type":"function","z":"8dd5ebbc.faef78","name":"","func":"msg.payload= msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":700,"wires":[["e03a074c.f4f5d8","116d578e.961148"]]},{"id":"e03a074c.f4f5d8","type":"watson-conversation-v1","z":"8dd5ebbc.faef78","name":"","workspaceid":"1ba60bcf-6861-447e-9a91-1fce81c6674e","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.us-south.assistant.watson.cloud.ibm.com/instances/ebc397f9-10d8-4a32-a375-8db558ca21d0","timeout":"","optout-learning":false,"x":410,"y":840,"wires":[["8dd1ec11.70d84","6594fc8f.a5a704"]]},{"id":"6594fc8f.a5a704","type":"function","z":"8dd5ebbc.faef78","name":"","func":"if(msg.payload.output.generic[0].response_type==\"image\"){\n    msg.url = msg.payload.output.generic[0].source\n    msg.payload = msg.payload.output.generic[0].title\n}\nelse{\n    msg.url=\"https://t3.ftcdn.net/jpg/02/20/14/38/240_F_220143804_fc4xRygvJ8bn8JPQumtHJieDN4ORNyjs.jpg\"\n    msg.payload = msg.payload.output.text[0];\n}\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":740,"wires":[["8dd1ec11.70d84","2e9db58e.83046a","f92336b4.e559c8","b07878b0.bc62d8"]]},{"id":"8dd1ec11.70d84","type":"debug","z":"8dd5ebbc.faef78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":900,"wires":[]},{"id":"2e9db58e.83046a","type":"ui_template","z":"8dd5ebbc.faef78","group":"b3d600c3.249e","name":"","order":5,"width":"6","height":"4","format":"<img ng-src={{msg.url}} alt=\"Image\">","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":790,"y":680,"wires":[[]]},{"id":"f92336b4.e559c8","type":"ui_audio","z":"8dd5ebbc.faef78","name":"","group":"b3d600c3.249e","voice":"de-DE","always":"","x":770,"y":820,"wires":[]},{"id":"116d578e.961148","type":"ui_text","z":"8dd5ebbc.faef78","group":"b3d600c3.249e","order":2,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":250,"y":1000,"wires":[]},{"id":"b07878b0.bc62d8","type":"ui_text","z":"8dd5ebbc.faef78","group":"b3d600c3.249e","order":2,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":820,"y":900,"wires":[]},{"id":"a0f0220a.9ef9e","type":"ui_text","z":"8dd5ebbc.faef78","group":"f002b395.88a2a","order":3,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":850,"y":580,"wires":[]},{"id":"df4f7da9.6e09a","type":"ui_group","z":"","name":"Registration Form","tab":"83589363.b32d","order":1,"disp":true,"width":"6","collapse":false},{"id":"1e52de89.de71d1","type":"ui_group","z":"","name":"Message","tab":"83589363.b32d","order":1,"disp":true,"width":"6","collapse":false},{"id":"f002b395.88a2a","type":"ui_group","z":"","name":"LOGIN","tab":"f20c6526.333f98","order":1,"disp":true,"width":"6","collapse":false},{"id":"b3d600c3.249e","type":"ui_group","z":"","name":"UI","tab":"d0fff633.215fb8","order":1,"disp":true,"width":"6","collapse":false},{"id":"83589363.b32d","type":"ui_tab","z":"","name":"Form","icon":"dashboard","disabled":false,"hidden":false},{"id":"f20c6526.333f98","type":"ui_tab","z":"","name":"Login","icon":"dashboard","disabled":false,"hidden":false},{"id":"d0fff633.215fb8","type":"ui_tab","z":"","name":"Chatbot","icon":"dashboard","disabled":false,"hidden":false}]